In [1]:
import pandas as pd
import glob

In [2]:

# read all files starting with "./results", reading them in a dataframe

df = pd.DataFrame()
for file in glob.glob("./results*.json"):
    df = pd.concat([df, pd.read_json(file)])

In [5]:
df.count()

caption    14929
user       14929
views      14929
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14929 entries, 0 to 559
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   caption  14929 non-null  object
 1   user     14929 non-null  object
 2   views    14929 non-null  object
dtypes: object(3)
memory usage: 466.5+ KB

In [8]:
df.head()

                                             caption          user   views
0  #ad  ‚ö†Ô∏èüò≥‚ö†Ô∏è#sonobisquedollwakoiwosuru  #ezioh  ...         5yu_6    8.6M
1  #ad  Spring nails using @beetlesgelpolishoffic...      jesslizs    5.3M
2                                               #ad     idkclairek      3M
3  #ad  my new heyup boxe projector is everything...   caitlinnlam    2.9M
4  Air up is never gonna let you downüòéüî• @airup   ...         qucee  636.8K